.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border-inline-start: 5px solid #721c24;
  margin-bottom: 15px;
  padding: 0.5rem 1rem;
  max-width: 500px;
  margin-inline: auto;
}